<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>

    <title>Boot HomeWork</title>
</head>



<body>
<div class="container" ng-controller="indexController">

    <div class="row align-items-start" style="height: 140px; padding: 30px;">
            <h1>GeekBrains   Spring II lesson 2 <br>(Реализация корзины.)</h1>
    </div>

    <div class="row align-items-start">
        <div class="col-3">

            <h4>Фильтр</h4>

            <form id="formFilter" novalidate ng-submit="addFilter()">

                <label> Категория
<!--                    <select name="cat" ng-options="cat for cat in CategoriesList" ng-change="catForm()" ng-model="filter.cat" class="form-control" style="margin-bottom: 30px">-->
                    <select name="cat" ng-options="cat.split(',').pop() for cat in CategoriesList" ng-change="catForm()" ng-model="filter.cat" class="form-control" style="margin-bottom: 30px">
                        <option value="">Все</option>
                    </select>
                </label>

                <label> Подкатегория
<!--                    <select id="sub" name="sub_cat" ng-options="sub_cat for sub_cat in SubCategoriesList" ng-change="manufacturer()" ng-model="filter.sub_cat" class="form-control" style="margin-bottom: 30px">-->
                    <select id="sub" name="sub_cat" ng-options="sub_cat.split(',').pop() for sub_cat in SubCategoriesList" ng-change="manufacturer()" ng-model="filter.sub_cat" class="form-control" style="margin-bottom: 30px">
                        <option value="">Все</option>
                    </select>
                </label>

                <label> Производитель
<!--                    <select name="man" ng-options="man for man in ManufacturerList" ng-model="filter.man" class="form-control" style="margin-bottom: 30px">-->
                    <select name="man" ng-options="man.split(',').pop() for man in ManufacturerList" ng-model="filter.man" class="form-control" style="margin-bottom: 30px">
                        <option value="">Все</option>
                    </select>
                </label>

                <label>Минимальная цена
                <input class="form-control" type="number" ng-model="filter.min" id="minPrice">
                </label>

                <label>Максимальная цена
                <input class="form-control" type="number" ng-model="filter.max" id="maxPrice" style="margin-bottom: 30px">
                </label>

                <button type="button" class="btn btn-secondary" ng-click="resetFilter()">Сбросить</button>
                <button class="btn btn-success" type="submit">Применить</button>

            </form>


        </div>
        <div class="col-9">

            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <div class="col-5">
                        <a class="navbar-brand"> <h3>Список продуктов</h3></a>
                    </div>
                    <div class="col-4">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" ng-model="value" ng-change="searchForm()">
                    </div>
                    <div class="col-3" align="right">
                        <div ng-show="!visibleButtonAddToCart()">

                            <svg data-bs-toggle="modal" data-bs-target="#modalAuthentication" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16" cursor="pointer">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
<!--                            <button type="button" class="btn btn-outline-secondary" ng-click="buttonCartFunction()" data-bs-toggle="modal" data-bs-target={{buttonTargetClick}}>-->
<!--                                {{buttonCartTitle}}<span class="bg-secondary text-white position-absolute top-0 start-100 translate-middle badge rounded-pill" ng-show="visibleButtonAddToCart()">{{CardTotalProduct}}</span></button>-->

                        </div>
                        <div ng-show="visibleButtonAddToCart()">
                            <svg data-bs-toggle="modal" data-bs-target="#exampleModalCart" ng-click="showCart()" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" cursor="pointer">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>

                            <a href="order.html" class="page-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16" cursor="pointer">
                                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                </svg>
                            </a>

                            <svg ng-click="clearUser()" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" cursor="pointer">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </div>

                    </div>
                </div>
            </nav>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Артикул</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in ProductsList">
                    <td ng-click="getProduct(p.id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{p.id}}</td>
                    <td ng-click="getProduct(p.id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{p.title}}</td>
                    <td ng-click="getProduct(p.id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{p.article}}</td>
                    <td ng-click="getProduct(p.id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{p.price}}</td>
                    <td ><button type="button" class="btn btn-outline-secondary" ng-click="addToCart(p.id, 1)" ng-show="visibleButtonAddToCart()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 20 20">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></button></td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{first}}"><a class="page-link" ng-click="pageStart()">1</a></li>
                    <li class="page-item {{first10}}"><a class="page-link" ng-click="pageClick(-10)">-10</a></li>
                    <li class="page-item {{first}}"><a class="page-link" ng-click="pageClick(-1)">-1</a></li>
                    <li class="page-item active"><a class="page-link">{{page1}}</a></li>
                    <li class="page-item {{last}}"><a class="page-link" ng-click="pageClick(+1)">+1</a></li>
                    <li class="page-item {{last10}}"><a class="page-link" ng-click="pageClick(+10)">+10</a></li>
                    <li class="page-item {{last}}"><a class="page-link" ng-click="pageFinish()">{{totalNumber}}</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="form" novalidate>
                    <div class="modal-header">
                        <label class="modal-title" id="exampleModalCenterTitle">Информация о товаре</label>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <h5 class="modal-title">{{Product.title}}</h5>
                            <label>Артикул: {{Product.article}}</label>
                            <h6>Цена: {{Product.price}}руб.</h6>
                            <label>Производитель: {{Product.manufacturer}}</label>
                        </div>
                        <div class="form-group mb-3">
                            <h6>Описание:</h6>
                            <div ng-repeat="l in ProductDescription">{{l}} <br></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCart" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование</th>
                        <th>Артикул</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='p in CardList'>
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.article}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <label ng-click="setCountToCart(p.id, -1)" >-</label>
                            {{p.count}}
                            <label ng-click="setCountToCart(p.id, 1)" >+</label>
                        </td>
                        <td>{{p.price * p.count}}</td>
                        <td>
                            <svg ng-click="deleteProductFromCart(p.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 20 20">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <h6>Итого</h6>
                    <label>Кол-во позиций: {{CardTotalSize}},    Кол-во товаров: {{CardTotalProduct}}, </label>
                    <h6>Сумма: {{CardTotalSumm}}</h6>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-click="">Оформить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalAuthentication" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="auth" novalidate ng-submit="authentications()">

                    <div class="modal-header">
                        <h5 class="modal-title">{{modalStatus}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="username">Логин</label>
                            <input class="form-control" type="text" ng-model="auth.username" id="username">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Пароль</label>
                            <input class="form-control" type="text" ng-model="auth.password" id="password">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="authRes" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
<!--                        <button class="btn btn-success" type="submit" data-bs-dismiss="modal">Авторизация</button>-->
                        <button id="authOk" class="btn btn-success" type="submit" >Авторизация</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>


</body>
</html>