<!DOCTYPE html>

<html ng-app="app" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="order.js"></script>

    <title>Список заказов</title>
</head>



<body>
<div class="container" ng-controller="orderController">

    <div class="row align-items-start" style="height: 140px; padding: 30px;">
            <h1>Список заказов</h1>
    </div>

    <div class="row align-items-start">
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="o in OrderList">
                    <td ng-click="" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{o.data}}</td>
                    <td ng-click="" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{o.status}}</td>
                    <td ng-click="" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">{{o.totalPrice}}</td>
                </tr>
                </tbody>
            </table>

<!--            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{first}}"><a class="page-link" ng-click="pageStart()">1</a></li>
                    <li class="page-item {{first10}}"><a class="page-link" ng-click="pageClick(-10)">-10</a></li>
                    <li class="page-item {{first}}"><a class="page-link" ng-click="pageClick(-1)">-1</a></li>
                    <li class="page-item active"><a class="page-link">{{page1}}</a></li>
                    <li class="page-item {{last}}"><a class="page-link" ng-click="pageClick(+1)">+1</a></li>
                    <li class="page-item {{last10}}"><a class="page-link" ng-click="pageClick(+10)">+10</a></li>
                    <li class="page-item {{last}}"><a class="page-link" ng-click="pageFinish()">{{totalNumber}}</a></li>
                </ul>
            </nav>-->
        </div>
    </div>


<!--    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="form" novalidate>
                    <div class="modal-header">
                        <label class="modal-title" id="exampleModalCenterTitle">Информация о товаре</label>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <h5 class="modal-title">{{Product.title}}</h5>
                            <label>Артикул: {{Product.article}}</label>
                            <h6>Цена: {{Product.price}}руб.</h6>
                            <label>Производитель: {{Product.manufacturer}}</label>
                        </div>
                        <div class="form-group mb-3">
                            <h6>Описание:</h6>
                            <div ng-repeat="l in ProductDescription">{{l}} <br></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>-->


<!--    <div class="modal fade" id="exampleModalCart" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование</th>
                        <th>Артикул</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='p in CardList'>
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.article}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <label ng-click="setCountToCart(p.id, -1)" >-</label>
                            {{p.count}}
                            <label ng-click="setCountToCart(p.id, 1)" >+</label>
                        </td>
                        <td>{{p.price * p.count}}</td>
                        <td>
                            <svg ng-click="deleteProductFromCart(p.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 20 20">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <h6>Итого</h6>
                    <label>Кол-во позиций: {{CardTotalSize}},    Кол-во товаров: {{CardTotalProduct}}, </label>
                    <h6>Сумма: {{CardTotalSumm}}</h6>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>-->

</div>


</body>
</html>